# Assignment 1

In [ ]:
# Ans 1:
'''
values are 'hello',-87.8,6
expressions are *,-/,+
'''

In [ ]:
# Ans 2:
''' 
string is a collection of words,alphabets or other characters,it is the primitive datatype in phython
eg : 'phython is a programming language'
variables are used to store data(values),when we declare a variable it occupy some space in the memory.
eg : a = 'phython is a programming language'
here a is  variable 
'''

In [ ]:
# Ans 3:
'''
Three data types are
1.numeric(int,float,complex number)
eg: int --->  i = 1
    float---> f = 1.5
    complex number---->  a = 3+4j
    
2.sequence(string,tuple,list)
eg: string--->  s = 'hello','phython','language'
    tuple---->  t = (1,2,3)
    list----->  l = [1,2,3]
3.boolean(True,False)
eg: c = True
    d = False 
'''

In [4]:
# Ans 4:
'''
An expression is a combination of operators like (*,-,+,/) and operands
all the expressions  can produce some other values or reduce into a single value.
'''
#eg:

print(3+2)

5

In [1]:
# Ans 5:
'''
An expression usally refers to a piece of code that can be evaluated to a value whereas an statement  refers to piece
of a code that excectues a specific instruction or tells the computer to complte task
'''
#example of expression:
10/5
#example of statement:
a= 10/5
print(a)

2.0

In [2]:
# Ans 6:
'''
After running the code tha bacon variable,bacon contains 22.
because we are just adding 1 to bacon as a expression and not assining again that into bacon
'''
bacon = 22
bacon +1
print(bacon)

22

In [ ]:
# Ans 7 :
'''
the value of 'spam' + 'spamspam' is 'spamspamspam'
the value of 'spam'*3 is 'spamspamspam'
'''
print('spam'+'spamspam')
print('spam'*3)

In [ ]:
# Ans 8:
'''
 for declartion of a variable there are some rules
 1.it should not  start with numbers
 2. it sholud not contain any special characters
 3.it should not contain any spaces
 so, 
 In variable eggs it only conatains alphabets whereas variable 100 contains numbers
 '''
eggs = 50  #it is valid
100 = 50 # it is invalid

In [ ]:
# Ans 9:
'''The three functions are'''
int()
float()
str()

In [5]:
# Ans 10:
'''
while concatentateing a value to string would be string  only 
not be the integer.
'I have eaten ' + 99 + 'burritos'. in this expression 99 is a integer so it throws an error.
to fix that error we have to change it into string format
'''
print('I have eaten ' + '99' + ' burritos.')

I have eaten 99 burritos.