# Assignment 4

In [ ]:
# Ans 1:
'''
It means that it is an empty list, which is a list value that contains no items.This is similar to 
how '' is the empty string value. 
'''

In [ ]:
# Ans 2:
spam[2] = 'hello'

In [ ]:
# Ans 3:
'''
The value will be as "d". 
'''

In [ ]:
# Ans 4:
'''
The value will be "d" (from negatives indexes we have count from end.)
'''

In [ ]:
# Ans 5:
'''
The values are ['a','b']
'''

In [ ]:
# Ans 6:
'''
The value will be 1.
'''

In [ ]:
# Ans 7:
'''
It looks like as 
[3.14, 'cat', 11, 'cat', True, 99]
'''

In [ ]:
# Ans 8:
'''
It looks like as 
[3.14, 11, 'cat', True]
'''

In [ ]:
# Ans 9:
'''
The operator for list concatenation is +, while the operator for replication is *.
'''

In [ ]:
# Ans 10:
'''
append() will add values only to the end of a list.
insert() can add them anywhere in the list.
'''
# eg:
a = [1,2,3]
a.append(4)
print(a)
a.insert(2,5)
print(a)

In [ ]:
# Ans 11:
'''
The del statement and the remove() list method are two ways to remove values from a list.
'''
# eg:
s=['hello',1,2.5,3+5j]
print(s)
del s[3]
print(s)
s.remove(1)
print(s)

In [ ]:
# Ans 12:
'''
Both lists and strings can be passed to len(), have indexes and slices, 
be used in for loops, be concatenated or replicated, and be used with the in and not in operator.
'''

In [ ]:
# Ans 13:
'''
Tuples are immutable, they cannot be changed at all.Tuples are written using parentheses,
while Lists are mutuable they can have values added, removed, or changed.Lists are wrtiteen using square brackets.
'''

In [ ]:
# Ans 14:
'''
we can type as (42,)
'''

In [2]:
# Ans 15:
'''
we can apply tuple() for getting the list values into tuples.
we can apply the list() for getting the tuple values as list values.
'''
# eg:
l = [1,2,3,4,5]
t = tuple(l) # converting as tuples.
print(t)
l1 = list(t) #converting as list values.
print(l1)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

In [3]:
# Ans 16:
'''
They contain references to list values.
'''

In [ ]:
# Ans 17:
'''
The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list.
That is, only copy.deepcopy() will duplicate any lists inside the list.
'''